.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 4em;
}

.header > nav {
  display: flex;
  align-items: center;
  gap: 2em;
}
.matched {
  color: rgb(65, 65, 65);
  font-weight: bold;
}
.search-bar {
  width: 30%;
}
.selected-box {
  padding: 1em;
  border: none;
  background-color: #ddd;
  border-radius: 12px;
}
.selected-box-footer {
  bottom: 6%;
  right: 3%;
  position: absolute;
}